<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}

    <section id="about-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>Craft Clusters</h1>
                        <p class="">Explore India's craft clusters identified by Myntra, integrating traditional
                            craftsmanship into modern fashion. Join us in preserving these timeless skills.
                        </p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-text border-right">
                        <h1>Artisan Empowerment
                        </h1>
                        <p>Empowering artisans through visibility and market access. Myntra for Local supports fair
                            trade and sustainable practices to enhance livelihoods.
                        </p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="about-text">
                        <h1> Curated Collections
                        </h1>
                        <p>Discover curated collections that celebrate regional artistry. From handloom weaves to intricate embroidery, experience India's creative heritage.</p>
                        <button class="btn btn-primary">More</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="team-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="team-top-header text-center">
                        <h1>Our Local Collaborators!!</h1>
                        <p>All over India</p>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="https://res.cloudinary.com/dcxvnd6qc/image/upload/v1720960875/PRINTS/lziitol1ts2pmo6uxygv.png"
                                    alt="" />
                                <h1>Rajwada</h1>
                                <p>Indore</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="https://res.cloudinary.com/dcxvnd6qc/image/upload/v1720960874/PRINTS/hu2ftsvdarxzgqvwsjsb.png"
                                    alt="" />
                                <h1>Sarojini Bazaar</h1>
                                <p>New Delhi</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="https://res.cloudinary.com/dcxvnd6qc/image/upload/v1720960874/PRINTS/hc5el6tomr91nnokjbto.png"
                                    alt="" />
                                <h1>Anjuna Flea Market</h1>
                                <p>Goa</p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="team-member-id text-center border">
                                <img class="img-fluid rounded-circle"
                                    src="https://res.cloudinary.com/dcxvnd6qc/image/upload/v1720961185/PRINTS/cdppd86blyhkommnqjji.png"
                                    alt="" />
                                <h1>Colaba Causeway</h1>
                                <p>Mumbai</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="recent-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="team-top-header text-center">
                        <h1>Signature Prints</h1>
                        <p>A tapestry of Indian Artistry!</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="recent-text">
                                <img class="img-fluid"
                                    src="https://res.cloudinary.com/dcxvnd6qc/image/upload/v1720960138/PRINTS/kp39slseetxzfhzokxyk.webp"
                                    alt="" />
                                <h1>Baandhni</h1>
                                <p>A tie and die technique from Gujarat and Rajasthan known for Vibrant colors and intricate patterns.</p>
                                <button class="btn btn-primary">More</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="recent-text">
                                <img class="img-fluid"
                                    src="https://res.cloudinary.com/dcxvnd6qc/image/upload/v1720960131/PRINTS/ged3mk9v1hqcuvu8ebol.webp"
                                    alt="" />
                                <h1>Ajrakh</h1>
                                <p>Block-Prined textiles with geometric patterns traditionally from Gujarat and Rajasthan.</p>
                                <button class="btn btn-primary">More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>